#ContactForm {
	width: 40%;
	padding: 20px;
	margin: 20px 30px;
}
#ContactForm section {
	display: block;
	padding: 5px;
	margin-left: 5%;
}

#ContactForm input {
	width: 90%;
	height: 15px;
	border: 1px solid black;
	padding: 5px;
	display: block;
}

#ContactForm textarea {
	min-width: 90%;
	min-height: 120px; 
	border: 1px solid black;
	display: block;
	padding: 5px;
	margin-bottom: 10px;
}

#ContactForm a {
	margin-left: 25%;
	padding: 5px;
	border: 2px solid blue;
	background: lightblue;
}

#ContactForm a:hover {
	background: tomato;
	cursor: pointer;
}