#ContactForm section {
	display: block;
	padding: 5px;
	margin-left: 5%;
}

#ContactForm div {
	padding: 15px 0;
	margin-top: 15px;
}

#ContactForm input {
	width: 40%;
	height: 15px;
	border: 1px solid black;
	padding: 5px;
	display: block;
}

#ContactForm textarea {
	width: 40%;
	min-height: 120px; 
	border: 1px solid black;
	display: block;
	padding: 5px;
	margin-bottom: 10px;
}

#ContactForm a {
	margin-left: 13.3%;
	padding: 5px;
	border: 2px solid blue;
	background: lightblue;
}

#ContactForm a:hover {
	background: tomato;
	cursor: pointer;
}